<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Message Board', root_path, class: 'navbar-brand' %>
        </div>

        <ul class="nav navbar-nav">
          <li><%= link_to 'Posts', posts_path %></li>
        </ul>

        <% if identity_signed_in? %>
          <p class="navbar-text pull-right"><%= gravatar_tag current_identity.email, :default %> <%= current_identity.email %> | <%= link_to 'Logout', destroy_identity_session_path, method: :delete %></p>
        <% end %>
      </div>
    </div>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
